<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이메일 인증</title>

</head>
<body style="font-family: Arial, 'Apple SD Gothic Neo', sans-serif; background-color: #f5f6f7; padding: 40px 0; margin: 0;">
<div class="container" style="display: flex; flex-direction: column; gap: 40px; background: #ffffff; padding: 60px; border: 2px solid #4677c8; border-radius: 12px; max-width: 720px; margin: 0 auto;">
    <div class="content" style="display: flex; flex-direction: column; align-items: center; gap: 32px;">
        <div class="title-wrapper" style="display: flex; flex-direction: column; gap: 8px;">
            <div class="title-sub" style="color: #4677c8; font-size: 18px; line-height: 26px; letter-spacing: -0.002em; font-weight: 600; text-align: center;">이메일 주소 인증하기</div>
            <div class="title-main" style="color: #171719; font-size: 28px; line-height: 38px; letter-spacing: -0.0236em; font-weight: 700; text-align: center;">아래 버튼을 눌러 인증해주세요</div>
        </div>

        <a th:href="${verifyLink}" class="btn" style="background-color: #4677c8; color: #ffffff; font-size: 16px; line-height: 24px; letter-spacing: 0.0057em; font-weight: 600; padding: 12px 24px; border-radius: 12px; text-decoration: none; width: 104px; text-align: center;">인증하기</a>
    </div>

    <div class="description" style="font-size: 16px; line-height: 24px; letter-spacing: 0.0057em; font-weight: 400; color: rgba(46, 47, 51, 0.88); text-align: center;">
        10분 안에 버튼을 클릭해 이메일 인증을 완료해주세요.<br>
        생각하는 방 코그룸에 온 걸 환영해요.<br>
        지금 코그룸(room)의 문을 열고 ‘나’를 알아가는 첫 걸음을 시작해봐요
    </div>

    <div class="divider" style="height: 1px; background-color: rgba(194, 196, 200, 0.43);"></div>

    <div class="footer" style="display: flex; flex-direction: column; align-items: center; gap: 16px;">
        <p class="slogan" style="font-size: 16px; line-height: 24px; letter-spacing: 0.0057em; font-weight: 400; color: rgba(55, 56, 60, 0.61); margin: 0;">모든 이의 내적 성장을 돕습니다.</p>
        <img class="logo" src="https://cdn.cogroom.com/default_image/Logo/Logo_Horizontal_normal.svg" alt="COGROOM 로고" style="height: 21px;" height="21">
    </div>
</div>
</body>
</html>